<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.fishjam.blur.BlurRegistrar"
            android:authorities="${applicationId}.blur-registrar"
            android:exported="false" />
    </application>
</manifest>
